@{
    ViewBag.Title = "Sobre nós";
}
<div class="m-4 p-3 px-md-5 rounded-3">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Sobre nós</h2>
    <div class="text-center">
        <br />
        <h4 style="text-indent: 1rem; text-align:justify;">
            Pensando em proporcionar a melhor experiência gastronômica da região, somos um restaurante vegano, especializado em atendimento ao cliente, qualidade e eficiência.
            Nossa prioridade é atender o cliente com excelência e dedicação.
            Somos uma empresa familiar que cuida da sua família, trazendo pratos afetivos e sempre inovando, com diversas combinações de pratos diferente. Ao tratar de nossos alimentos, temos o maior cuidado e limpeza, para que tudo dê certo!
        </h4>
    </div>
</div>
