
@{
    ViewBag.Title = "Acesso não autorizado";
}

<h2 class="text-center">Sem Acesso</h2>

<br />
<p class="text-center">
    Você não tem acesso a está página. Entre em contato com o Administrador.
</p>